.motivs-container{
    margin-top: 80px;
}
.motivs{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.our-motivs{
    margin-top: 30px;
}

.fan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 1000px;
    height: 70px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 70px;
    margin-bottom: 80px;
    padding: 20px;
    border-radius: 10px;
}
.fan h2{
    color:orangered;
}
.fan small{
    color: orange;
}
.follower{
    width: 30%;
 
    text-align: center;
    
    


}
.our-follower{
    margin-top: 200px;
}

.uni-img{
    height: 120px;
}
.h{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 260px;
    border: 1px solid rgba(128, 128, 128, 0.856);
}
.body{
    background-color: rgba(220, 220, 220, 0.274);
    
}

.h:hover{
    border: 1px solid rgba(0, 0, 0, 0.925);
    background-color: rgba(95, 158, 160, 0.993);
    color:white;
}

