
.title{
    line-height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: rgba(0, 0, 255, 0.877);
    background-color: aliceblue;
}
.with{
    color:gray;
    position: relative;
    top: 255px;
    left: 280px;
    font-weight:bolder;
    font-family:sans-serif;
    
}
.academia{
    color:rgba(0, 0, 0, 0.87);
    position: relative;
    top: 250px;
    left: 240px;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.online{
    color:rgba(0, 0, 255, 0.877);
    margin-bottom: 50px;
}
.container{
    margin-bottom: 50px;
}
.list{
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 30px;

}
.course-btn{
    width:200px;
    padding: 6px;
    border:1px solid rgba(0, 0, 255, 0.562) ;
    border-radius: 8px;
    color:rgba(0, 0, 255, 0.603) ;
    font-weight:500;
    margin-left: 100px;
   
   
}
.course-btn:hover{
    color: white;
    background-color: rgba(0, 0, 255, 0.479);
}