footer{
    background-color: rgba(0, 0, 0, 0.856);
    color : grey;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
   
  
  }
  .foot h3{
    color: rgba(0, 0, 255, 0.932)
      
  }